.mar-t-10 {
    margin-top: 10px !important;
}
.mar-b-10 {
    margin-bottom: 10px !important;
}
.visible {
    visibility: visible !important;
}
.container,
.row {
    max-width: 100% !important;
}
.wrapper {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}
header {
    margin-top: 20px;
    margin-bottom: 20px;
    overflow: hidden;
}
.auth-form {
    width: 60%;
    margin: 0 auto;
}